<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  <style>
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
</style>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="{{ "/" | absolute_url }}"><img src="{{site.logo | relative_url}}" alt="Logo" /></a>
        <p>{{ site.description | default: site.github.project_tagline }}</p>
        
         <ul>
      <li><a href="freemediasoftware.html">Free Media Creation Software</a></li>
      <li><a href="https://n8hps.notion.site/12-Principles-of-Animation-39339caf6e0140e5bfc073348c1f08ab?pvs=74">12 Principles of Animation</a></li>
      <li><a href="mailto:ntreme@caddoschools.org">Contact</a></li>
      <li><a href="https://www.youtube.com/@N8teach">Youtube</a></li>
      <li><a href="https://certifiedprofessional.adobe.com/en/exams">Adobe Certificaiton</a></li>
      <li><a href="https://www.amazon.com/hz/wishlist/ls/3JCHHEMQPOPCW?ref_=wl_share">Class wishlist</a></li>
      <li><a href="https://www.paypal.com/donate/?hosted_button_id=LNW3SGNDQH6SY">Donate $</a></li>

        </ul>
            
        </header>
      <section>

      {{ content }}

      </section>
      <footer>
  
        <p><small><a href="https://caddocareer.com/">Caddo Career & Technology Center</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
